.user-msg {
    position: absolute;
    top: 10vh;
    right: 3em;

    width: 250px;
    padding: 3px 10px;
    border-radius: 6px;
}

.success {
    background-color: rgb(113, 161, 161);
}

.fail {
    background-color: orangered;
}